.ipynb_checkpoints/
.vscode
tdata.json
from_scratch.cpython-38.pyc 
__pycache__
stati.cpython-38.pyc*
stati.py
linearalgebra.py
probability.py
gradient_descent.py
BAJAJ-AUTO.csv
api-key.json
*json
tempCodeRunnerFile.py
debug.log