[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
jupyterlab = "*"
jupyter-contrib-nbextensions = "*"
matplotlib = "*"
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.8"
